faster-whisper==1.0.3
sounddevice==0.4.6
numpy==1.26.4
scipy==1.11.4
soundfile==0.12.1
deep-translator==1.11.4
customtkinter==5.2.2
transformers==4.44.2
sentencepiece
sacremoses
torch==2.2.2
huggingface_hub<0.24
